/* ///////////////////////////////////////////////////////////
04. section CSS
/////////////////////////////////////////////////////////// */ 
@use '../abstracts/variables' as *;


.nh_section {
    &-subtitle {
        border-radius: 4px;
        background: var(--clr-theme-primary-soft);
        height: 26px;
        display: inline-flex;
        align-items: center;
        padding: 0 16px;
        color: var(--clr-theme-primary);
        font-family: $manrope;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 28px;
        @media #{$xs}{
            margin-bottom: 18px;
        }
        &-white {
            background-color: var(--clr-theme-primary);
            color: #fff;
        }
        &-2 {
            background-color: rgba(6, 177, 110, 0.15);
            color: var(--clr-theme-primary);
        }
        &-inner {
            margin-bottom: 18px;
        }
    }
    &-title {
        color: var(--clr-body-heading);
        font-family: $manrope;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: -1px;
        @media #{$xl}{
            font-size: 45px;
        }
        @media #{$lg}{
            font-size: 40px;
        }
        @media #{$xs}{
            font-size: 36px;
        }
        @media #{$xxs}{
            font-size: 32px;
        }
        &-white {
            color: #fff;
        }
        &-small {
            font-size: 44px;
            @media #{$lg}{
                font-size: 40px;
            }
            @media #{$xs}{
                font-size: 36px;
            }
            @media #{$xxs}{
                font-size: 32px;
            }
        }
    }
    &-text {
        color: rgb(71, 85, 105);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        &-white {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}


.h5_nh_section {
    &-heading {
        color: rgb(15, 41, 31);
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: -1px;
        @media #{$xxs}{
            font-size: 18px;
        }
    }
    &-area {
        .nh_section-title {
            @media #{$xxs}{
                font-size: 30px;
            }
        }
    }
}