/* ///////////////////////////////////////////////////////////
04. Hero CSS
/////////////////////////////////////////////////////////// */ 
@use '../abstracts/variables' as *;
.shop-area {
    position: relative;
    z-index: 1;
}
.shop-section {
    &-subtitle {
        border-radius: 4px;
        background: linear-gradient(91deg, #7D25EC -1.71%, #AE7EFF 118.34%);
        display: inline-flex;
        height: 30px;
        padding: 0 8px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        color: #fff;
        text-align: center;
        font-family: $inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 20px;
        i {
            font-size: 14px;
        }
    }
    &-title {
        color: #fff;
        font-family: $inter;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.37;
        text-transform: capitalize;
        margin-bottom: 28px;
        @media #{$sm}{
            font-size: 40px;
        }
        @media #{$xs}{
            font-size: 35px;
        }
        @media #{$xxs}{
            font-size: 32px;
        }
        span {
            background: linear-gradient(90deg, #9F54FD 22.27%, #FFC69C 105.76%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 500;
            position: relative;
            z-index: 1;
            display: inline-block;
            &::before {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 100%;
                content: "";
                background: linear-gradient(90deg, #9F54FD 22.27%, #FFC69C 105.76%);
            }
            &:last-child {
                background: #9F54FD;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                &::before {
                    background: #9F54FD;
                }
            }
        }
    }
    p {
        color: #CDCDCD;
        font-family: $inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 0;
    }
}

.shop-shape {
    &-1 {
        position: absolute;
        left: 7%;
        top: 14%;
    }
    &-2 {
        position: absolute;
        left: 9%;
        bottom: 26%;
    }
    &-3 {
        position: absolute;
        left: 47%;
        transform: translateX(-50%);
        top: 26%;
    }
}