.progress-wrap {
    position: fixed;
    right: 45px;
    bottom: 45px;
    height: 55px;
    width: 55px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset  0 0 0 2px rgba(95, 58, 252,0.2);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    background: #35CC95;
    /* mix-blend-mode: exclusion; */
    
  }
  @media only screen and (max-width: 768px) {
    .progress-wrap {
      right: 35px;
      bottom: 45px;
      width: 45px;
      height: 45px;
    }
  }
  @media only screen and (max-width: 481px) {
    .progress-wrap {
      right: 20px;
      bottom: 30px;
    }
  }
  .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .progress-wrap::after {
    position: absolute;
    /* content: '\f176'; */
    content: url("../../assets/images/bg/top-arrow.png");
    /* font-family: "Font Awesome 5 Pro"; */
    text-align: center;
    line-height: 55px;
    font-size: 15px;
    color: #fff;
    left: 0;
    top: 0;
    height: 55px;
    width: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    
  }
  @media only screen and (max-width: 768px) {
    .progress-wrap::after {
      width: 45px;
      height: 45px;
      line-height: 45px;
    }
  }
  
  .progress-wrap svg path { 
    fill: none; 
  }
  
  .progress-wrap svg.progress-circle path {
    stroke: #fff;
    stroke-width: 4;
    box-sizing:border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  